footer {position: relative;
height:60px;
background-color: rgb(48, 48, 48);
}

footer .textfoot {color: white;
position: absolute;
left: 25%;
text-shadow: 1px 1px black;
top: 5px;}

div.iconfoot a {color: white;
 position: relative;

 font-size: 45px;
left: 60%;
text-shadow: 1px 1px black;
}

div.iconfoot a:hover {font-size: 50px;
    transition: all .8s;
}