@charset "UTF-8";
* {margin: 0;
padding: 0;
box-sizing: border-box;}

body {background-color: #5f05e6;}

form {background-color: white;
max-width: 350px;
min-width: 320px;
position: absolute;
left: 50%;
top: 50%;
padding: 20px;
transform: translate(-50%, -50%);
border-radius: 10px;}

form h3 {font-size: 1.3em;
font-family: 'Times New Roman', Times, serif;
color: #5F7B8C;
text-align: center;
width: 100%;
margin-bottom: 20px;
border-bottom: 1px solid #5F7B8C;}

form input[type="text"], form input[type="password"]{width: 100%;
height: 30px;
border: 1px solid #5F7B8C;
margin: 10px 0;}

form input[type="button"] {width: 100%;
background-color: #28abab;
color: white;
height: 45px;
border-radius: 10px;
border: 0;
text-transform: uppercase;
text-shadow: 0.5px 0.5px 0.5px black;}

form input[type="text"]:focus{outline: 0;}

form input[type="password"]:focus{outline: 0;}

form input[type="button"]:hover {background-color:#066161 ;}


div#easter {
position: absolute;
width: 40px;
height: 15px;
top: 75%;
left: 50%;}

div#easter > a {text-decoration: none;
color: rgba(255, 255, 255, 0);}

div#easter:hover {background-color: #5F7B8C;}