

.about_me {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    
}

.about_me h1 {
    padding-top: 150px;
    margin-bottom: 25px;
}

.about_me p {
    width: 50%;
    text-align: center;
    margin: auto;
    text-justify: auto;
}


